[Unit]
Description=Sockgit Listen Server
After=network.target sockgit-listen.socket
Requires=sockgit-listen.socket

[Service]
Type=oneshot
User=git
Group=git
WorkingDirectory=/srv/git
ExecStart=/opt/sockgit/target/release/sockgit
StandardInput=socket
StandardOutput=syslog
StandardError=syslog
Environment="USER=git"
Environment="PUBLIC=add your url"
Environment="PATH=/srv/git"
Environment="GIT_TEMPLATE_DIR=/usr/share/sockgit/templates"
Environment="WHITELIST_IP=your ip"

[Install]
WantedBy=multi-user.target
